html {
  --red-hue: 344;

  --editor-hue: 200; // material
  --editor-color-accent: hsl(var(--editor-hue), 100%, 50%);
  --editor-color: hsl(var(--editor-hue), 18%, 19%);
  --editor-color-dark: hsl(var(--editor-hue), 18%, 15%);

  --logo-stroke: white;
  --logo-fill: var(--editor-color-dark);
  --logo-text: white;

  --btn-bg: transparent;
  --btn-bg-hover: transparent;
  --btn-bg-active: transparent;
  --btn-color: white;
  --btn-color-hover: white;
  --btn-color-active: var(--editor-color-accent);

  --text-light: hsl(var(--editor-hue), 50%, 90%);
  --text-lighter: hsl(var(--editor-hue), 10%, 50%);

  --error-color: hsl(var(--red-hue), 78%, 55%);
  --error-color-light: hsl(var(--red-hue), 78%, 60%);
}
