.btn {
  display: flex;
  align-items: center;
  height: 100%;

  color: var(--btn-color);
  background: var(--btn-bg);
  padding: 0 1rem;
  font-size: .8rem;
  z-index: 5;
  transition: all .1s ease;

  outline: none;

  img, svg {
    width: .8rem;
    flex: 1;
  }

  &:hover {
    color: var(--btn-color-hover);
    --icon-color: var(--btn-color-hover);
    opacity: 1;
  }

  &--fade {
    opacity: .5;
  }

  &--active {
    opacity: 1;
    background: var(--btn-bg-active);
    color: var(--btn-color-active);
    --icon-color: var(--btn-color-active);
  }
}
