.btn {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 100%;

  color: var(--color-btn);
  background: var(--color-btn-bg);
  padding: 0 1rem;
  font-size: .8rem;
  z-index: 5;
  transition: all .1s ease;

  outline: none;

  img, svg {
    width: 1rem;
    flex: 1;

    path {
      fill: currentColor;
    }
  }

  &:hover {
    color: var(--color-btn-hover);
    --icon-color: var(--color-btn-hover);
    opacity: 1;
  }

  &--fade {
    opacity: .5;
  }

  &--active {
    opacity: 1;
    background: var(--color-btn-bg-active);
    color: var(--color-btn-active);
    --icon-color: var(--color-btn-active);
  }
}
