/**
 * Editor Themes
 */

// Dark Themes
//--------------------------------
html {
  --red-hue: 344;
  --yellow-hue: 41;

  --color-hue: 200;
  --color-editor: hsl(var(--color-hue), 19%, 18%);
  --color-editor-accent: hsl(var(--color-hue), 100%, 50%);
  --color-editor-dark: hsl(var(--color-hue), 19%, 15%);
  --color-editor-light: hsl(var(--color-hue), 20%, 35%);

  --color-logo-stroke: white;
  --color-logo-fill: var(--color-editor-dark);
  --color-logo-text: white;

  --color-btn: white;
  --color-btn-hover: white;
  --color-btn-active: white;
  --color-btn-bg-active: var(--color-editor-accent);

  --color-text-light: hsl(var(--color-hue), 50%, 90%);
  --color-text-lighter: hsl(var(--color-hue), 10%, 50%);

  --color-error: hsl(var(--red-hue), 78%, 55%);
  --color-error-light: hsl(var(--red-hue), 78%, 60%);
  --color-warning: hsl(var(--yellow-hue), 100%, 54%);
}

.CodeMirror-hints {
  background: var(--color-editor-dark);
  border: none;
  border-radius: 0;
  padding: 0;
}

li.CodeMirror-hint {
  padding: .25rem .4rem;
  color: var(--color-text-lighter);

  &-active {
    background: var(--color-editor-accent);
    border-radius: 0;
    color: var(--color-text-light, var(--color-text-contrast));
  }
}

.CodeMirror-foldmarker {
  text-shadow: none;
  color: var(--color-editor-accent);
}

html[data-theme='palenight'] {
  --color-hue: 229;
  --color-editor: hsl(var(--color-hue), 20%, 20%);
  --color-editor-accent: hsl(var(--color-hue), 90%, 70%);

  --color-btn: hsl(var(--color-hue), 20%, 80%);
}

html[data-theme='dracula'] {
  --color-hue: 231;
  --color-editor: hsl(var(--color-hue), 15%, 18%);
  --color-editor-accent: hsl(var(--color-hue), 100%, 70%);
}

html[data-theme='monokai'] {
  --color-hue: 70;
  --color-editor: hsl(var(--color-hue), 8%, 15%);
  --color-editor-accent: hsl(var(--color-hue), 50%, 40%);
  --color-editor-dark: hsl(var(--color-hue), 10%, 10%);
}

html[data-theme='oceanic-next'] {
  --color-hue: 198;
  --color-editor: hsl(var(--color-hue), 19%, 24%);
}

html[data-theme='panda-syntax'] {
  --color-hue: 210;
  --color-editor: hsl(var(--color-hue), 2%, 16%);
  --color-editor-accent: hsl(var(--color-hue), 90%, 75%);
  --color-editor-dark: hsl(var(--color-hue), 10%, 10%);
}

html[data-theme='solarized dark'] {
  --color-hue: 193;
  --color-editor: hsl(var(--color-hue), 100%, 11%);
  --color-editor-accent: hsl(var(--color-hue), 100%, 50%);
  --color-editor-dark: hsl(var(--color-hue), 100%, 7%);
}

// Light Themes
//--------------------------------
html[data-theme='default'],
html[data-theme='mdn-like'] {
  // Special tuning
  div.toolbar {
    background: var(--color-editor-dark);
    &:not(:first-of-type) {
      border-top: 1px solid rgba(0, 0, 0, 0.1);
    }
  }

  .nav--col {
    border-right: 1px solid rgba(0,0,0,0.1);
  }

  --color-editor: hsl(0, 0%, 100%);
  --color-editor-accent: hsl(0, 0%, 25%);
  --color-editor-dark: hsl(0, 0%, 97%);

  --color-logo-stroke: #222;
  --color-logo-fill: var(--color-editor-dark);
  --color-logo-text: #222;

  --color-text-light: hsl(0, 0%, 20%);
  --color-text-lighter: hsl(0, 0%, 30%);
  --color-text-contrast: white;

  --color-btn: hsl(var(--color-hue), 20%, 20%);
  --color-btn-hover: hsl(var(--color-hue), 90%, 20%);
  --color-btn-active: hsl(var(--color-hue), 90%, 20%);
  --color-btn-bg-active: hsl(var(--color-hue), 0%, 90%);
}

html[data-theme='solarized light'] {
  --color-hue: 44;
  --color-editor-accent: hsl(var(--color-hue), 90%, 20%);
  --color-editor: hsl(var(--color-hue), 87%, 94%);
  --color-editor-dark: hsl(var(--color-hue), 40%, 90%);

  --color-logo-stroke: #222;
  --color-logo-fill: var(--color-editor-dark);
  --color-logo-text: #222;

  --color-btn-bg: transparent;
  --color-btn-bg-hover: transparent;
  --color-btn-bg-active: hsl(var(--color-hue), 40%, 85%);
  --color-btn: hsl(var(--color-hue), 20%, 20%);
  --color-btn-hover: hsl(var(--color-hue), 90%, 20%);
  --color-btn-active: hsl(var(--color-hue), 90%, 20%);

  --color-text-light: hsl(0, 0%, 20%);
  --color-text-lighter: hsl(0, 0%, 20%);
}
