@font-face {
  font-family: 'Meslo LG M Regular';
  font-style: normal;
  font-weight: 400;
  src: local('Meslo LG M Regular'), url(/assets/fonts/MesloLGMForPowerline-Regular.woff2) format('woff2');
}
