.no-events, .no-events * {
  pointer-events: none;
}

.col {
  display: flex;
  flex-direction: column;
}

.row {
  display: flex;
}

.row, .col {
  &--center {
    align-items: center;
    justify-content: center;
  }

  &--ai-center { align-items: center; }
  &--ai-end { align-items: flex-end; }
  &--jc-center { justify-content: center; }
  &--jc-between { justify-content: space-between; }
}

.abs-center {
  @extend %abs-center;
}
